/*
body {
  outline: 2px solid rgb(255, 251, 0);
  background-color: rgba(255, 251, 0, 0.39);
}

.select {
  outline: 2px solid rgb(0, 81, 255);
  background-color: rgba(0, 81, 255, 0.39);
}

.select__box {
  outline: 2px solid rgb(255, 251, 0);
  background-color: rgba(255, 251, 0, 0.39);
}

.media__card-info,
.media-card__poster {
  outline: 2px solid rgb(0, 81, 255);
  background-color: rgba(0, 81, 255, 0.39);
}

.select__text {
  outline: 2px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.39);
}
*/