.footer {
  display: flex;
  flex-direction: column;
}

.footer__text {
  text-align: center;
}

.footer__link {
  color: #fff;
  &:hover {
    color: rgb(255, 251, 0);
  }
  &:active {
    color: rgb(255, 0, 0);
  }
}