/*
.Movie__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  min-height: 200px;
  background-color: brown;
}

.Movie__section {
  height: 190px;
  background-color: transparent;
}

.Movie__section--number {
  width: 100px;
}

.Movie__section--preview {
  width: 150px;
}

.Movie__section--info {
  width: 330px;
  background-color: #fff;
}
*/